@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --color-one: #5613AD;
    --color-two: #FAB04D;
    --color-three: #8935FA;
    --color-default: #fffffa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
} 

.container {
    background: linear-gradient(45deg, var(--color-one), var(--color-three)) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    height: 50vh;
    width: 30vw;
    padding: 2rem;
}

.content {
    color: var(--color-two);
    background-color: var(--color-three);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-two);
    border-radius: 15px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.32);
    height: auto;
    width: 30vw;
    padding: 2rem;
    font-size: 0.7rem;
}

.content h1 {
    text-transform: uppercase;
    margin-bottom: 0.1rem;
}

.content p {
    margin-bottom: 1rem;
    text-align: center;
}

.content p a {
    text-decoration: none;
    color: var(--color-default);
}

.content .link-bttn {
    font-size: 0.9rem;
}

form label {
    margin: 0.4rem 0;
}

form input {
    color: var(--color-one);
    width: 100%;
    padding: 0.4rem;
    margin: 0.7rem 0;
    border: none;
    border-radius: 7px;
    outline: none;
}

form input[type=submit] {
    cursor: pointer;
    width: 103%;
}

form input[type=submit]:hover {
    background-color: var(--color-two);
}

@media screen and (max-width: 768px) {
    img {
        display: none;
    }

    .content {
        width: 50vw;
    }
}